.App {
}

body {
  background: #f0eeee !important;
  color: #444444 !important;
}

:root {
  font-size: 13px;
  font-family: "Source Sans Pro", sans-serif;
  line-height: 1.618;
  font-weight: 400;
}

h1 {
  font-size: 2.6rem;
  line-height: 1.2em;
  padding-bottom: 1rem;
  font-weight: 600;
}
.heading {
  text-align: center;
  margin: 0.5em;
}

.footer {
  margin: 10px;
  height: 30px;
  text-align: center;
}

.light-white-line {
  border: 0.1px solid rgb(39, 39, 39);
}
