.pagination-wrapper {
  overflow-x: auto;
  margin: 0 auto;
}

.pg-item {
  border: solid 1px white;
  align-content: center;
  padding: 0.3em;
  cursor: pointer;
}

.pg-item:hover {
  background: lightslategray;
  color: white;
}

#paginator {
  margin: 0 auto;
}
